@model Homeshare.Models.BienEchangeModel
@{
    ViewBag.Title = "MyProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
        Html.RenderPartial("~/Areas/Member/Views/Shared/_Profil.cshtml");
    }*@
<div>@Model.DescCourte</div>


