@model Homeshare.Models.RegisterModel
@{
    ViewBag.Title = "MyProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
        Html.RenderPartial("~/Areas/Member/Views/Shared/_Profil.cshtml");
    }*@
@*@foreach (Homeshare.Models.BienEchangeModel item in Model.BienEchangeModel)
{
    
        <div>@item.DescCourte</div>
        <div>@item.Titre</div>
    }*@


@*<div>@Model.DescLong</div>*@